
#span-user {
    margin-right: 10px;
}

.frason-a {
    color: #265ab9;
    font-weight: 500
}

.frason-a :hover {
    border: none;
}
.borderBlue {
    border-color: #006495 !important;
    border-style: 'solid' !important;   
}

.positionBadge {
    float: right;
    margin-top: -10px;
    margin-left: -8px;
    padding: 5px;
}
.positionBadgeMobile {
    float: right;
    margin-top: -9px;
    margin-left: -8px;
    padding: 5px;   
}