.positionList {
    position: absolute;
    width: 200 !important;
}

.margin {
    margin-left: 18%;
}

.bgDark {
    background-color: #220052;
}

.list-group-item-action {
    border: 0 !important;   
}

.backToTop{
    position: fixed;
    bottom: 30px;
    background-color: transparent !important;
    border: 0 !important;
    right: 0;
}
